<%= form_tag sessions_path do %>

  <h1 class="title">Login</h1>
  <% if @message == "Erro" %>
      <div align="center">*Email ou senha invalido*</div>
  <% end %>
  <table class="tbl-login">
  <tr>
                  <td>
                      <div class="field">
                        <%= label_tag :email %><br />
                        <%= email_field_tag :email, params[:email] %>
                      </div>
                  </td>
                  </tr>
                  <tr>
                  <td>
                  <div class="field">
                    <%= label_tag "Senha" %><br />
                    <%= password_field_tag :password %>
                  </div>
                  </td>
          </tr>
           </table>
          <div class="btnPanel">
  <%= submit_tag "Login" %>
  <%= link_to  "Cancelar", root_url %>
  </div>

<% end %>
