<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
   <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<h1 class="title">Cadastro de Aluno</h1>
<table class="tbl">
   <tr>
      <td>
         <div class="field">
            <%= f.label "Nome Completo" %><br />
            <%= f.text_field :name %>
         </div>
      </td>
      <td>
         <div class="field">
            <%= f.label "Universidade" %><br />
            <%= f.text_field :universidade, :value => "Universidade Federal do Ceará" %>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="field">
            <%= f.label "Curso" %><br />
            <%= f.text_field :curso %>
         </div>
      </td>
      <td>
         <div class="field">
            <%= f.label :cidade %><br />
            <%= f.text_field :cidade %>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="field">
            <%= f.label :matricula %><br />
            <%= f.text_field :matricula %>
         </div>
      </td>
      <td>
         <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="field">
            <%= f.label "Senha" %><br />
            <%= f.password_field :password %>
         </div>
      </td>
      <td>
         <div class="field">
            <%= f.label "Confirme a Senha" %><br />
            <%= f.password_field :password_confirmation %>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="field">
            <%= f.label "Ano Ingresso" %><br />
            <%= f.text_field :anoIngr %>
         </div>
      </td>
      <td>
         <div class="field">
            <%= f.label "Ano Conclusão" %><br />
            <%= f.text_field :anoConc %>
         </div>
      </td>
   </tr>
</table>
<div class="btnPanel">
   <%= submit_tag "Cadastrar" %>
   <%= link_to  "Cancelar", root_url %>
</div>
<% end %>
