<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="title">Cadastro de Ex-Alunos</h1>
  <table class="tbl">
          <tr>
                  <td>
                      <div class="field">
                        <%= f.label "Nome" %><br />
                        <%= f.text_field :name %>
                      </div>
                  </td>
                  <td>
                  <div class="field">
                    <%= f.label :matricula %><br />
                    <%= f.text_field :matricula %>
                  </div>
                  </td>
          </tr>
          <tr>
                  <td>
                      <div class="field">
                        <%= f.label "Ano Ingresso" %><br />
                        <%= f.number_field :anoIngr %>
                      </div>
                  </td>
                  <td>
                  <div class="field">
                    <%= f.label "Ano Conclusão" %><br />
                    <%= f.number_field :anoConc %>
                  </div>
                  </td>
          </tr>
            <tr><td>Viagem</td></tr>
          <tr>
              <%= render 'places/form' %>

  </table>
  <div class="btnPanel">
  <%= submit_tag "Cadastrar" %>
  <%= submit_tag "Cancelar", :type => 'button', :onclick => "history.back()" %>
  </div>
<% end %>
