<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :matricula %><br />
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <%= f.label "Ano Ingresso" %><br />
    <%= f.number_field :anoIngr %>
  </div>
  <div class="field">
    <%= f.label "Ano Conclusão" %><br />
    <%= f.number_field :anoConc %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br />
    <%= f.number_field :city_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
