<h1><%= @user.name %> (<%= @user.email %>)</h1>
<table>
  <tr>
    <td>
        <b>Universidade:</b> <%= @user.universidade %>
  </td>
  <td>
        <b>Curso:</b> <%= @user.curso %>
  </td>
  </tr>
  <tr>
    <td>
        <b>Matricula:</b> <%= @user.matricula %>
  </td>
  </tr>
  <tr>
    <td>
      <b>Ano de Ingresso:</b> <%= @user.anoIngr %>
    </td>
    <td>
      <b>Ano de Conclusão:</b> <%= @user.anoConc %>
    </td>
  </tr>
  <tr>
    <td>
    <b>Cidade:</b> <%= @user.cidade %>
    </td>
  </tr>
</table>
<br>
<h2>Lugares Visitados</h2>
<table>
      <% for objective in  @places do %>
      <tr>
      <td>
          <b>Motivo:</b> <%= objective.objectiveType %>
      </td>
      <td>
          <b>Local:</b> <%= objective.Instituicao %>
      </td>
      </tr>
      <tr>
      <td>
          <b>Periodo de Inicio:</b> <%= objective.periodoIni %>
      </td>
      <td>
          <b>Periodo de Fim:</b> <%= objective.periodoFim %>
      </td>
      </tr>
      <tr>
      <td>
          <b>Cidade:</b> <%= objective.place.city %>
      </td>
      <td>
          <b>Estado:</b> <%= objective.place.state %>
      </td>
      </tr>
      <tr>
      <td>
          <b>País:</b> <%= objective.place.country %>
      </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <% end %>
</table>
<br><br>
<%= link_to 'Back', root_url %>
