<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Matricula:</b>
  <%= @user.matricula %>
</p>

<p>
  <b>Anoingr:</b>
  <%= @user.anoIngr %>
</p>

<p>
  <b>Anoconc:</b>
  <%= @user.anoConc %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
