<div id="user_nav">
  <% if current_user %>
  <%= link_to "Meus Locais".html_safe, places_path, :class => "btnCadastro", :id => "locaisbtn" %>
  <%= link_to "Logout".html_safe, log_out_path, :class => "btnCadastro", :id => "logoutbtn"%>
  <% else %>
  <%= link_to "Cadastro".html_safe, sign_up_path, :class => "btnCadastro", :id => "cadbtn" %>
  <%= link_to "Login".html_safe, log_in_path, :class => "btnCadastro", :id => "loginbtn" %>
  <% end %>
</div>
<!-- <div class="logo"></div> -->
<%= gmaps(:map_options => { :auto_adjust => false, :zoom => 3, :raw => '{  panControlOptions: {
                                  position: google.maps.ControlPosition.LEFT_CENTER
                        },
                    zoomControlOptions: {
                                  position: google.maps.ControlPosition.LEFT_CENTER
                        }}'
                          },
          :markers => { :data => @json  }
)%>
<div class="legendas">
                        <table>
                                        <tbody><tr>
                                                <td><img src="/assets/pin_1.png" alt="Marcador"></td>
                                                <td>Trabalho </td>
                                                <td><img src="/assets/pin_2.png" alt="Marcador"></td>
                                                <td>Estudo</td>
                                        </tr>
                                        <tr>
                                                <td><img src="/assets/pin_3.png" alt="Marcador"></td>
                                                <td>Pesquisa</td>
                                        </tr>
                        </tbody></table>
                        <div class="out">
                        <span>Legenda</span>
                </div>
                </div>

